{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sumnii</td>
            <td>ea-sy</td>
            <td>22.05.18</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Issac</td>
            <td>yammy</td>
            <td>22.05.19</td>
        </tr>
        </tbody>
    </table>
{% endblock %}