{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Point</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sumnii</td>
            <td>1000</td>
            <td>플라스크 기억이 안나요</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Issac</td>
            <td>900</td>
            <td>토스트 냠냠</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>700</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
{% endblock %}